.bill {
    display: flex;
    justify-content: center;
    text-align: center;
}

.bill .main_container {
    width: 95%;
}

.bill .main_container #bill_header {
    margin: 0 0 0.5rem;
}

.bill input {
    margin: 1rem;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.bill .container {
    display: flex;
    justify-content: space-evenly;
}

.bill aside {
    margin-top: -1rem;
}

.bill .bill_statement {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1.5rem;
}

.bill .info {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.bill .balance, .summary, .check, .monthly_transactions {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.bill .balance {
    width: 70%;
}

.bill .summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.bill .summary h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.bill .summary h4 {
    margin-top: 0.25rem;
}

.bill .credit h4 {
    font-size: 1.5rem;
}

.bill .check_container, .monthly_transactions_container {
    width: 95%;
    margin: 2.5rem;
}

.bill .check, .monthly_transactions {
    width: 75%;
    padding: 2rem;
}

.bill .check p {
    margin: 0;
}

.bill .cust_address {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.bill .cust_address div:first-child {
    font-size: 1.1rem;
}

.bill .cust_address div:last-child {
    margin-top: 6rem;
    text-align: right;
}

.bill .bank_address {
    display: flex;
    justify-content: center;
}

.bill .bank_address div {
    text-align: left;
    font-size: 1.1rem;
}

.bill .monthly_transactions section{
    display: flex;
    justify-content: start;
}

.bill #err {
    font-weight: bold;
    font-size: 1.2rem;
}