.details {
    display: flex;
    justify-content: center;
    text-align: center;
}

.details .main_container {
    width: 95%;
}

.details .main_container #details_header {
    margin: 0 0 0.5rem;
}

.details input {
    margin: 1rem;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}

.details form input, .details form button {
    width: auto;
    margin: 0.25rem;
}

.details .main_container #transactions_header {
    margin: 2rem 0 0.5rem;
}

.details .date_container {
    display: flex;
    margin: -2.5rem 0 0.25rem;
}

.details #error {
    font-weight: bold;
    font-size: 1.2rem;
}