.transactions {
    display: flex;
    justify-content: center;
}

.transactions .main_container {
    width: 95%;
    text-align: center;
    font-family: 'Arial';
}

.transactions .main_container h2 {
    margin: 0 0 0.5rem;
}

.transactions .container {
    display: flex;
    justify-content: space-between;
}

.transactions .data {
    width: 80%;
}

.transactions .data_sidebar {
    max-width: '400px';
}

.transactions .data_sidebar #zipcode {
    padding-left: 0.5rem;
}

.transactions .stats {
    display: flex;
}

.transactions .values_container {
    width: 50%;
    margin: 0rem 4rem;
}

.transactions .values {
    display: flex;
    justify-content: space-between;
}

.transactions .values p {
    font-size: 2rem;
}

.transactions .dropdown {
    width: 75%;
    margin: 0 auto;
}